.graficoPizza{
  min-height: 300px;
}

.item-linha-1{
  min-height: 200px !important;
  
}

.item-linha-2{
  min-height: 600px !important;
}


.w100{
  width: 100% !important;
}

#example_wrapper{
  width: 100% !important;
}


#grafico{
  width: 100%;
  height: 100%;
}



#entrantesAbandonadas{
  max-height: 300px;
  width: auto;
}
