/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 de out de 2019, 09:06:45
    Author     : br03206
*/

.tamanhoFotoPerfil{
        height: 110px !important;
        width: 110px !important;
    }

   /*.backgroundImgPerfil{
        background-repeat: no-repeat;		
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }*/

    .h350{
        height: 350px !important;
    }

    .h580{
        height: 580px !important;
    }

    .padding{
        padding-left: 40px; 
    }
    
    #tema{
        padding-bottom: 20px !important;
    }



    @media (max-width: 600px) 
    {

        .backgroundImgPerfil{
            background-repeat: no-repeat;		
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100% !important;
            height: 100% !important;
        }

    }