.iconeTemplate{
  height: 20px;
}

.h110Template{
  height: 110px !important;
  width: 110px !important;
}

.h10Template{
  height: 30px !important;
}

.menuHoverTemplate{
  cursor: pointer;
}

@media (max-width: 600px) 
{

  #dadosPessoais{
    display: none;
  }

}
