/* define tema */

:root {
    --primary-color: #f5f5f5;
    --secondary-color: #536390;
    --font-color: #000000;
    --bg-color: #F3F3F3;
    --heading-color: #292922;
    --card: #eeeeee;
    --sidenav: #ffffff;
    --sidenavHover: #26a69a;
    --sidenavHoverSub: #80cbc4;
    --sidenavI: #6A6A6A;
    --sidenavDivider: #e0e0e0;
    --label: #ADADAD;
    --submenuBackground: #e0f2f1;
    --backgroundColorActiveLi:#26a69a;
    --modal: #FAFAFA;
    --tabs: #e0e0e0;
    --tabsFundoETexto:#80cbc4;
    
    --sortTrHover:#b2dfdb;
    --sortTr: #e0e0e0;
    --sortTh: #4db6ac;
    --sortTrEven: #bdbdbd;   
        
    --datatableTabelaTh: #4db6ac;
    --datatableTabelaTr: #e0e0e0;
    --datatableTabelaTrEven: #bdbdbd;
    --datatableTabelaTrHover:#b2dfdb;
}

[data-theme="dark"] {
    --primary-color: #616161;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #212121;
    --heading-color: #818cab;
    --card: #424242;
    --label: #bdbdbd;
    --sidenav: #212121;
    --sidenavHover: #424242;
    --sidenavHoverSub:#757575;
    --sidenavI: #e1e1ff;
    --sidenavDivider: #616161;
    --submenuBackground: #363636;
    --backgroundColorActiveLi: #424242;
    --modal: #424242;
    --tabs: #37474f;
    --tabsFundoETexto:#00695c;
    --borderBotom: #bdbdbd;
    
    --sortTrHover:#b2dfdb;
    --sortTr: #e0e0e0;
    --sortTh: #009688;
    --sortTrEven: #bdbdbd; 
    
    --datatableTabelaTh: #009688;
    --datatableTabelaTr: #000000;
    --datatableTabelaTrEven: #212121;
    --datatableTabelaTrHover:#424242;
    
}

/* tabela de ordenação arrasta e solta */

#sort th{
  background-color: var(--sortTh);
} 

#sort tr:hover{
  background-color: var(--sortTrHover);
}  

#sort tr:nth-child(even) {
  background-color: var(--sortTrEven);
}

#sort tr:nth-child(even):hover{
    background-color: var(--sortTrHover);
}

/* datatable */

.dataTable thead th{
  background-color: var(--datatableTabelaTh);
  
}

.highlight tr{
  border-bottom: 1px solid var(--borderBotom);
}

.dataTable tr:nth-child(even) {
  background-color: var(--datatableTabelaTrEven);
}


body{
    background-color: var(--bg-color);
    color: var(--font-color);
}
  
.card{
    background-color: var(--card);
}

.divider{
    color: var(--sidenavDivider);
}

.modal{
  background-color: var(--modal);  
  color: var(--font-color);
}

.modal .modal-footer{
    background-color: var(--modal);
    color: var(--font-color);
}

input{
    color:var(--font-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Em teste, remover caso os submenus ativos não fiquem coloridos */

#sidebar ul li div ul a {
  background-color: var(--submenuBackground) !important;
}

#sidebar ul li div ul a:hover {
  background-color: var(--sidenavHover) !important;
}

#sidebar ul li div ul a:hover{
    background-color: var(--sidenavHoverSub) !important;
}

.sidenav{
    background-color: var(--sidenav);
}

.sidenav .collapsible-header{
    background-color: var(--sidenav);
}

.sidenav li:hover{
    background-color: var(--sidenavHover);
}

.sidenav li.active > a{
    background-color: var(--backgroundColorActiveLi);
}
/*
.sidenav .collapsible-body:hover{
    background-color: red;
}
*/
.sidenav .collapsible-body{
    background-color: var(--sidenav);
}

.sidenav li > a > i, .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"], .sidenav li > a > i.material-icons {
    color: var(--sidenavI);
}


.sidenav li > a{
    color: var(--font-color);
}

label{
    color: var(--label);
}

.valid{
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}


/*
.sidenav .collapsible-header:hover, .sidenav.fixed .collapsible-header:hover{
    background-color: var(--sidenavHover);
}

*/


/* scroll */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




.iconeTemplate{
  height: 20px;
}

.backgroundImgMenu{
	background-repeat: no-repeat;		
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
}


.h110Template{
  height: 110px !important;
  width: 110px !important;
}

.h10Template{
  height: 30px !important;
}

.fotoUsuarioMenu{
  /*background-color: #ddd;
  border-radius: 100%;*/
  height: 30px !important;
  width: 30px !important;
  margin: 0;
  vertical-align: middle;
  box-sizing: border-box;
 
}


.fotoUser{
    height: 110px !important;
    width: 110px !important;
}


.menuHoverTemplate{
  cursor: pointer;
}

.material-tooltip{
    background-color: #616161;
}

.tabs{
    background-color: var(--tabs);
    /*cor de fundo da ul do tab*/
}

.tabs .tab a:focus.active {
    color: var(--font-color);
    background-color: var(--tabsFundoETexto);
     /*cor de fundo e de texto no hover do tab ativo*/
}

.tabs .tab a {
    color: var(--font-color);
     /*cor da fonte do tab*/
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: var(--font-color);
    /* cor da fonte do tab */
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover{
    color: var(--font-color);
}

.tabs .tab a:focus.disabled {
    color: var(--font-color);
    background-color: var(--tabsFundoETexto);
     /*cor de fundo e de texto no hover do tab ativo*/
}

@media (max-width: 600px) 
{

.tituloMenu{
	font-size: 25px !important;
}

  #dadosPessoais{
    display: none;
  }

}
